教材のテキストをコピペしましたが、これでもエラーは発生しませんでした。

In [13]:
price1 = 100
price2 = 200

def total():
    tax = 1.1
    return price1 + price2

print (total() * tax)

330.0

ローカルスコープ内の"tax = 1.1"をグローバルスコープに移動しました。

In [15]:
price1 = 100
price2 = 200
tax = 1.1

def total():

    return price1 + price2

print (total() * tax)

330.0